.deploy/.envs/prod.env
.deploy/.envs/stage.env
.deploy/.secrets/pip.conf
.idea/
__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/
*.pyc
*.pkl
scripts/migration.log
scripts/migration.log
.xlsx
.~lock*
*log
logs/*

